<div class="container container-fluid">
    <div ng-controller="EditController" class="panel panel-default">
        <div class="panel-heading" style="text-align: center">
            <h3>Edit</h3>
        </div>
        <div class="panel-body">
            <!-- Company Name -->
            <div class="row top-buffer">
                <div class="col-lg-6 col-xs-6">
                    <label for="companyName">Company Name</label>
                    <input type="text" ng-model="companyName" class="form-control" placeholder="Company Name"
                           id="companyName"
                           uib-typeahead="establishment.name for establishment in getEstablishment($viewValue)"
                           typeahead-loading="loadingEstablishment" typeahead-no-results="noResults"
                           typeahead-on-select="onSelectEstablishment($item, $model, $label)"/>
                    <i ng-show="loadingEstablishment" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noResults">
                        <i class="glyphicon glyphicon-remove"></i>No Results Found
                    </div>
                </div>
            </div>
            <!-- Waiters -->
            <div class="panel panel-default col-lg-6 top-buffer">
                <div class="panel-heading" style="text-align: center">
                    <h4>Waiter</h4>
                </div>
                <div class="panel-body">
                    <div class="row top-buffer">
                        <div>
                            <!-- Login -->
                            <label for="waiterLogin">Waiter Login</label>
                            <input type="text" ng-model="login" class="form-control" placeholder="Waiter Login"
                                   id="waiterLogin"/>
                        </div>
                    </div>
                    <div class="row top-buffer">
                        <div>
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th style="text-align: center; vertical-align: middle">Waiter phone</th>
                                    <th><input type="text" class="form-control" placeholder="filter" id="query"
                                               ng-model="filterWaiter"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="waiter in waiters | filter:filterWaiter">
                                    <td>{{waiter.login}}</td>
                                    <td><a><i class="glyphicon glyphicon-trash"
                                              ng-click="removeWaiter(waiter)"></i></a></td>
                                </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-default" style="float: right"><span
                                    class="glyphicon glyphicon-plus" ng-click="addWaiter()"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-lg-4 col-xs-6">
                    <input type="submit" class="btn btn-info" value="Save" ng-disabled="!hasSelected()" ng-click="saveForm()"/>
                </div>
            </div>
        </div>
    </div>
</div>